@page "/quests"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject ZeldaQuestTracker.Data.ZeldaQuestTrackerContext DB
@using ZeldaQuestTracker.Components.Model
@using ZeldaQuestTracker.Components.Helpers

<PageTitle>Quest List</PageTitle>

<h1>Quest List</h1>

<p>
    <a href="quests/create" class="btn btn-primary">Create New</a>
</p>


<MudTable Items="DB.Quests">
    <HeaderContent>
        <MudTh>Quest Name</MudTh>
        <MudTh>Youtube Video</MudTh>
        <MudTh>Actions</MudTh>
    </HeaderContent>
    <RowTemplate Context="quests">
        <MudTd>
            <MudLink Href="@UrlHelper.EnsureHttpPrefix(quests.Walkthrough)">@quests.Name</MudLink>
        </MudTd>
        <MudTd>
            <MudLink Href="@UrlHelper.EnsureHttpPrefix(quests.Video)"><img src="@UrlHelper.GetYoutubeThumbnailUrl(quests.Video)" /></MudLink>
        </MudTd>
        <MudTd>
            <MudLink Href="@($"quests/edit?id={quests.Id}")">Edit</MudLink> |
            <MudLink Href="@($"quests/details?id={quests.Id}")">Details</MudLink> |
            <MudLink Href="@($"quests/delete?id={quests.Id}")">Delete</MudLink>
        </MudTd>
    </RowTemplate>
</MudTable>
